gasp
_log
_build
*.native
*.byte
*.d.native
*.p.byte
*.top
*.otarget
*.vo
*.glob
*.aux
*.out
*.log
*.nav
*.snm
*.vrb
*.toc
*.pdf
userInput.ml
myocamlbuild_config.ml
tests/*.gasp
_gasp
.DS_Store
*.bbl
*.dvi
*.pdfsync
*.synctex.gz
*.thm
*.blg

